QPushButton
{
    background-color: transparent;
    background-repeat: none;    
    border: none;
    width: 18px;
    height: 18px;
}

QRadioButton::indicator
{
     width: 10px;
     height: 10px;
}

QRadioButton::indicator::unchecked 
{
     image: url(:/ui/emoticonWidget/dot_page.png);
}

QRadioButton::indicator:unchecked:hover 
{
     image: url(:/ui/emoticonWidget/dot_page_hover.png);
}

QRadioButton::indicator:unchecked:pressed 
{
     image: url(:/ui/emoticonWidget/dot_page_hover.png);
}

QRadioButton::indicator::checked 
{
     image: url(:/ui/emoticonWidget/dot_page_current.png);
}

QMenu
{
     background-color: #414141; /* sets background of the menu */
     border: 0px solid;
}
