[Desktop Entry]
Version=1.0
Type=Application
Name=qTox
GenericName=Tox client
Comment=Qt 5 based Tox instant messenger for secure communication
Comment[cs]=Tox instant messaging založený na Qt 5 pro zabezpečenou komunikaci 
Comment[da]=Tox instant messaging baseret på Qt 5 til sikker kommunikation
Comment[de]=Tox Instant Messaging auf Basis von Qt 5 für sichere Kommunikation
Comment[el]=Tox instant messaging με βάση το Qt 5 για ασφαλείς επικοινωνίες
Comment[es]=Mensajería instantánea Tox basada en Qt 5 para comunicaciones seguras
Comment[et]=Qt 5-l põhinev Tox kiirsõnumivahetus turvaliseks suhtluseks
Comment[fi]=Qt 5:een perustuva Tox-pikaviestintä turvallista viestintää varten
Comment[fr]=Messagerie instantanée Tox basée sur Qt 5 pour des communications sécurisées
Comment[hu]=Qt 5 alapú Tox azonnali üzenetküldés a biztonságos kommunikációhoz
Comment[it]=Messaggistica istantanea Tox basata su Qt 5 per comunicazioni sicure
Comment[ja]=Qt 5 をベースにした Tox インスタント メッセージングで安全な通信を実現
Comment[lt]="Qt 5" paremtas "Tox" greitųjų žinučių siuntimas, skirtas saugiam bendravimui
Comment[pl]=Tox instant messaging oparty na Qt 5 dla bezpiecznej komunikacji
Comment[pt]=Mensagens instantâneas Tox baseadas no Qt 5 para comunicações seguras
Comment[sk]=Tox instant messaging založený na Qt 5 pre bezpečnú komunikáciu
Comment[sl]=Takojšnje sporočanje Tox, ki temelji na Qt 5 za varno komunikacijo
Comment[sv]=Tox instant messaging baserad på Qt 5 för säker kommunikation
Comment[tr]=Güvenli iletişim için Qt 5 tabanlı Tox anlık mesajlaşma
Comment[zh]=基于Qt 5的Tox即时通讯，用于安全通信
TryExec=qtox
Exec=qtox %u
Icon=qtox
Categories=Network;InstantMessaging;Chat;Telephony;VideoConference;
Terminal=false
MimeType=x-scheme-handler/tox;application/x-tox;
