[Desktop Entry]
Version=1.0
Type=Application
Name=qTox
GenericName=Tox client
Comment=qTox is a powerful Tox client that follows the Tox design guidelines.
TryExec=qtox
Exec=qtox %u
Icon=qtox
Categories=InstantMessaging;AudioVideo;Network;
Terminal=false
MimeType=x-scheme-handler/tox;application/x-tox;
