QPushButton
{
    background-color: transparent;
    background-image: url(":/ui/fileButton/fileButton.png");
    background-repeat: none;    
    border: none;
    width: 24px;
    height: 24px;
}
QPushButton:hover
{
   background-image: url(":/ui/fileButton/fileButtonHover.png");
}

QPushButton:pressed
{
   background-image: url(":/ui/fileButton/fileButtonPressed.png");
}

QPushButton:focus {
    outline: none;
}
