QWidget
{
    color: black;
    font: @big;
}

QTextEdit
{
	border-color: @lightGrey;
	border-style: solid;
	border-width: 1px 0 1px 1px;
    background: white;
    border: 1px solid #c4c1bd;
}

QListWidget
{
    background: white;
}

QScrollArea
{
    background: white;
}

QGroupBox
{
    background: white;
}

QMessageBox
{
    background: white;
}

QCheckBox
{
    background: white;
    color: black;    
}

QSpinBox
{
    background: white;
}

QSlider::groove:horizontal
{
    border: 1px solid #999999;
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: white;
    margin: 2px 0;
}

QSlider::handle:horizontal
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QPushButton
{
    background: white;
}

QGroupBox
{
    color: black;
    background-color: white;
    font: @bigBold;
}

QComboBox
{
    color: black;
    background: white;
}

QComboBox QAbstractItemView {
    background: white;
}

QLineEdit
{
    background-color: white;
}

QTabWidget
{
    background-color: white;
}

QTabBar
{
    background-color: white;
}

QScrollArea
{
    background-color: white;
}
