<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>qtox.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>qtox</string>
	<key>CFBundleDisplayName</key>
	<string>qTox</string>
	<key>CFBundleName</key>
	<string>qTox</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0-EXPERIMENTIAL</string>
	<key>CFBundleIdentifier</key>
	<string>im.tox.qtox</string>
	<key>CFBundleURLName</key>
	<string>tox</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>tox</string>
	</array>
	<key>CFBundleTypeExtensions</key>
	<array>
		<string>tox</string>
	</array>
	<key>CFBundleTypeName</key>
	<string>Tox profile</string>
	<key>CFBundleTypeMIMETypes</key>
	<array>
		<string>tox/x-profile</string>
	</array>
	<key>CFBundleTypeIconFile</key>
	<string>qtox.icns</string>
	<key>CFBundleURLIconFile</key>
	<string>qtox.icns</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en_US</string>
		<string>en</string>
		<string>bg_BG</string>
		<string>de_DE</string>
		<string>fi_FI</string>
		<string>fr_FR</string>
		<string>it_IT</string>
		<string>pl_PL</string>
		<string>ru_RU</string>
		<string>uk_UA</string>
		<string>sv</string>
	</array>
</dict>
</plist>
