<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>qtox.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>qtox</string>
	<key>CFBundleIdentifier</key>
	<string>im.tox.qtox</string>
	<key>CFBundleURLName</key>
	<string>tox</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>tox</string>
	</array>
	<key>CFBundleTypeExtensions</key>
	<array>
		<string>tox</string>
	</array>
	<key>CFBundleTypeName</key>
	<string>Tox profile</string>
	<key>CFBundleTypeMIMETypes</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleTypeIconFile</key>
	<string>qtox.icns</string>
	<key>CFBundleURLIconFile</key>
	<string>qtox.icns</string>
</dict>
</plist>
