body {
    font: @baseFont;
}

p {
    white-space: pre-wrap;
}

.action {
    color: @action;
    font-style: italic;
}

.typing {
    color: #4e4e4e;
}

.quote {
    color: #279419;
}

.alert {
    margin-left: 0px;
    margin-right: 0px;
    background-color: @orange;
}

.alert_name {
    background-color: @orange;
    font: @bigBold;
}

a {
    color: @link;
}
