[fontColor="white"] QLabel {
	color:white;
	font:@medium;
}

[fontColor="black"] QLabel {
	color:black;
	font:@medium;
}

QPushButton {
	margin:0;
} 

QProgressBar {
	border: 2px solid black;
	border-radius: 0px;
	color: white;
	background-color:white;
}

QProgressBar::chunk {
	background-color: black;
	width: 20px;
}