[fontColor="white"] QLabel {
	color:white;
	font:@medium;
}

[fontColor="black"] QLabel {
	color:black;
	font:@medium;
}

QPushButton {
	margin:0;
        border: none;
} 

QProgressBar {
	border: 2px solid black;
	border-radius: 4px;
	background-color: @mediumGrey;
}

QProgressBar::chunk {
	background-color: @lightGrey;
	width: 1px;
}