QFrame {
	border-image: url(:/ui/fileTransferInstance/background_grey.png);
	border-left:25;		padding-left:-25;
	border-top:28;		padding-top:-28;
	border-right:25;	padding-right:-25;
	border-bottom:28;	padding-bottom:-28;
}

QLabel {
	color:black;
	font:@medium;
}

QPushButton {
	margin:0;
} 

QProgressBar {
	border: 2px solid black;
	border-radius: 0px;
	color: white;
	background-color:white;
}

QProgressBar::chunk {
	background-color: black;
	width: 20px;
}