QToolTip
{
    /* explicit border width is required https://bugreports.qt.io/browse/QTBUG-41313 */
    border: 0px;
    color: black;
    background: #ffffdc;
}

QWidget#contentWidget
{
    background: @groundBase;
}

QTabWidget
{
    background-color: @groundBase;
}

QTabBar::tab:selected 
{
    background: #100f0f;
    color: @mainText;
}

QTabBar::tab:!selected 
{
    background: #444242;
    color: #8e8e8e;
}
