QPushButton
{
    background-color: transparent;
    background-image: url(":/ui/sendButton/sendButton.png");
    background-repeat: none;    
    border: none;
    width: 50px;
    height: 50px;
}
QPushButton:hover
{
   background-image: url(":/ui/sendButton/sendButtonHover.png");
}

QPushButton:pressed
{
   background-image: url(":/ui/sendButton/sendButtonPressed.png");
}

QPushButton:focus {
    outline: none;
}
