Source: qtox
Maintainer: John Smith <barrdetwix@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), cdbs, qt5-qmake, libopenal-dev (>= 1:1.15.1), libopencv-dev (>= 2.4.8), libopus-dev (>= 1.0), qtbase5-dev (>= 5.2), sudo, autoconf, libtool, pkg-config, libvpx-dev

Package: qtox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tox client
 qTox is a powerful Tox client that follows the Tox design guidelines.
 Tox is a decentralized and encrypted replacement for Skype, supporting
 chats, audio, and video calls.
