QPushButton#green
{
    background-color: transparent;
    background-image: url(":/ui/micButton/micButton.png");
    background-repeat: none; 
    border: none;
    width: 25px;
    height: 20px;
}

QPushButton#green:hover
{
    background-image:url(":/ui/micButton/micButtonHover.png");
}

QPushButton#red
{
    background-color: transparent;
    background-image: url(":/ui/micButton/micButtonPressed.png");
    background-repeat: none; 
    border: none;
    width: 25px;
    height: 20px;
}

QPushButton#grey
{
    background-color: transparent;
    background-image: url(":/ui/micButton/micButtonDisabled.png");
    background-repeat: none;    
    border: none;
    width: 25px;
    height: 20px;
}

QPushButton:focus {
    outline: none;
}
