QAbstractButton
{
    background-color: transparent;
    background-image: url(":/ui/micButton/micButton.png");
    background-repeat: none; 
    border: none;
}

QAbstractButton:disabled
{
    background-image: url(":/ui/micButton/micButtonDisabled.png");
}

QAbstractButton:focus
{
    outline: none;
}

QAbstractButton#green:hover
{
    background-image: url(":/ui/micButton/micButtonHover.png");
}

QAbstractButton#red
{
    background-image: url(":/ui/micButton/micButtonPressed.png");
}
