QScrollArea {
    background: white;
    border: 0 0 0 0 ;
}

QScrollArea > QWidget > QWidget { 
    background: white; 
}

QScrollBar:vertical  {
    background: transparent;
    width: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QScrollBar::handle:vertical  {
    background: #d1d1d1;
    min-height: 20px;
    border-radius: 3px;
    margin-left: 2px;
}

QScrollBar::handle:vertical:hover  {
    background: #e3e3e3;
}

QScrollBar::handle:vertical:pressed  {
    background: #b1b1b1;
}

QScrollBar::add-line:vertical {
    background: url(":ui/chatArea/scrollBarDownArrow.png") center;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    background: url(":ui/chatArea/scrollBarUpArrow.png") center;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar:QScrollBar::down-arrow:vertical  {
    width: 10;
    height: 10px;
    background: white;
}

QScrollBar:QScrollBar::up-arrow:vertical  {
    width: 10px;
    height: 10px;
    background: white;
}
 
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical  {
    background: none;
}


QScrollBar:horizontal  {
    background: white;
    height: 10px;
    margin: 0 2px 0 2px;
}

QScrollBar::handle:horizontal  {
    background: #d1d1d1;
    min-width: 20px;
    border-radius: 2px;
}

QScrollBar::handle:horizontal:hover  {
    background: #e3e3e3;
}

QScrollBar::handle:horizontal:pressed  {
    background: #b1b1b1;
}

QScrollBar::add-line:horizontal {
    background: url(":ui/chatArea/scrollBarRightArrow.png") center;
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    background: url(":ui/chatArea/scrollBarLeftArrow.png") center;
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar:QScrollBar::down-arrow:horizontal  {
    width: 10;
    height: 10px;
    background: white;
}

QScrollBar:QScrollBar::up-arrow:horizontal  {
    width: 10px;
    height: 10px;
    background: white;
}
 
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal  {
    background: none;
}