QScrollBar:vertical  {
    background: white;
    width: 10px;
    margin: 12px 0 12px 0;
}

QScrollBar::handle:vertical  {
    background: #d1d1d1;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover  {
    background: #e7e7e7;
}

QScrollBar::handle:vertical:pressed  {
    background: #b1b1b1;
}

QScrollBar::add-line:vertical {
    background: url("ui/chatArea/scrollBarDownArrow.png") center;
    height: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover {
    background: url("ui/chatArea/scrollBarDownArrowHover.png") center;
}

QScrollBar::add-line:vertical:pressed {
    background: url("ui/chatArea/scrollBarDownArrowPressed.png") center;
}

QScrollBar::sub-line:vertical {
    background: url("ui/chatArea/scrollBarUpArrow.png") center;
    height: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover {
    background: url("ui/chatArea/scrollBarUpArrowHover.png") center;
}

QScrollBar::sub-line:vertical:pressed {
    background: url("ui/chatArea/scrollBarUpArrowPressed.png") center;

}

QScrollBar:QScrollBar::down-arrow:vertical  {
    width: 10;
    height: 10px;
    background: white;
}

QScrollBar:QScrollBar::up-arrow:vertical  {
    width: 10px;
    height: 10px;
    background: white;
}
 
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical  {
    background: none;
}