div.msg {
  color: @black;
  font: @big;
}

div.action {
  color: #1818FF;
  font: @big;
  font-style: italic;
}

div.typing {
  color: @mediumGreyLight;
  font: @big;
}

span.quote {
  color: #279419;
}

div.alert {
  margin-left: 0px;
  margin-right: 0px;
  color: @black;
  background-color: @orange;
  font: @big;
}

div.alert_name {
  color: @black;
  background-color: @orange;
  font: @bigBold;
}

a {
    color: blue;
}

