p {
  white-space: pre-wrap;
}

p.msg {
  color: @black;
  font: @big;
}

p.action {
  color: #1818FF;
  font: @big;
}

p.typing {
  color: @mediumGreyLight;
  font: @big;
}

span.quote {
  color: #279419;
}

p.alert {
  margin-left: 0px;
  margin-right: 0px;
  color: @black;
  background-color: @orange;
  font: @big;
}

p.alert_name {
  color: @black;
  background-color: @orange;
  font: @bigBold;
}

a {
    color: blue;
}

