div.name_me {
  color: #646464;
  font-weight: bold;
  padding-right: 3px;
}

div.message_me {
  color: #646464;
  padding-right: 3px;
  padding-left: 3px;
}

div.date_me {
  color: #646464;
  padding-left: 3px;
}

div.quote {
  background-color: #6bc260;
}

div.name {
  color: #000000;
  font-weight: bold;
  padding-right: 3px;
}

div.message {
  color: #000000;
  padding-right: 3px;
  padding-left: 3px;
}

div.date {
  color: #000000;
  padding-left: 3px;
}

div.green {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  color: #ffffff;
  background-color: #6bc260;
  font-size: 10px;
}

div.button {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #ffffff;
  background-color: #6bc260;
}

div.red {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  color: #ffffff;
  background-color: rgb(200,78,78);
  font-size: 10px;
}
