div.name_me {
  color: #646464;
  font-weight: bold;
  padding-right: 3px;
}

div.name {
  color: #000000;
  font-weight: bold;
  padding-right: 3px;
}

div.message {
  color: #000000;
  padding-right: 3px;
  padding-left: 3px;
}

div.date {
  color: #000000;
  padding-left: 3px;
  white-space: nowrap;
}

div.quote {
  background-color: #6bc260;
}

div.green {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #ffffff;
  background-color: #6bc260;
  font-size: 10px;
}

div.silver {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #000000;
  background-color: #d1d1d1;
  font-size: 10px;
}

div.red {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #ffffff;
  background-color: rgb(200,78,78);
  font-size: 10px;
}

div.button {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #ffffff;
}
