div.name {
  color: @black;
  font: @bigBold;
}

div.message {
  color: @black;
  font: @big;
}

div.action {
  color: #1818FF;
  font: @big;
}

div.date {
  color: @black;
  font: @big;
}

div.name_me {
  color: @mediumGrey;
  font: @big;
}

div.message_me {
  color: @black;
  font: @big;
}

div.date_me {
  color: @black;
  font: @big;
}

span.quote {
  color: #6bc260;
}

div.green {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: @white;
  background-color: @green;
  font: @small;
}

div.silver {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: @black;
  background-color: @lightGrey;
  font: @small;
}

div.red {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: @white;
  background-color: @red;
  font: @small;
}

div.button {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: @white;
}
