<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>CFBundleIconFile</key>
		<string>qtox.icns</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>toxq</string>
		<key>CFBundleExecutable</key>
		<string>qtox</string>
		<key>CFBundleDisplayName</key>
		<string>qTox</string>
		<key>CFBundleName</key>
		<string>qTox</string>
		<key>CFBundleVersion</key>
		<string>1.5.1</string>
		<key>CFBundleShortVersionString</key>
		<string>@SHORT_VERSION@</string>
		<key>CFBundleIdentifier</key>
		<string>chat.tox.qtox</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>Tox URL</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>tox</string>
				</array>
				<key>CFBundleURLIconFile</key>
				<string>qtox_profile</string>
			</dict>
		</array>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>tox</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>Tox profile</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleTypeIconFile</key>
				<string>qtox_profile</string>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>application/x-tox.profile</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.tox</string>
				</array>
			</dict>
		</array>
		<key>UTImportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
				</array>
				<key>UTTypeIdentifier</key>
				<string>public.tox</string>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>com.apple.ostype</key>
					<string>TOX</string>
					<key>public.filename-extension</key>
					<array>
						<string>tox</string>
					</array>
					<key>public.mime-type</key>
					<string>tox/x-profile</string>
				</dict>
			</dict>
		</array>
		<key>CFBundleLocalizations</key>
		<array>
			<string>en_US</string>
			<string>bg_BG</string>
			<string>cs</string>
			<string>de_DE</string>
			<string>el</string>
			<string>es_MX</string>
			<string>fi_FI</string>
			<string>fr_FR</string>
			<string>hr_HR</string>
			<string>hu_HU</string>
			<string>it_IT</string>
			<string>lt_LT</string>
			<string>nl_NL</string>
			<string>nb_NO</string>
			<string>pl_PL</string>
			<string>pt_BR</string>
			<string>ru_RU</string>
			<string>sl</string>
			<string>sv</string>
			<string>tr_TR</string>
			<string>uk_UA</string>
			<string>zh_CH</string>
		</array>
	</dict>
</plist>
