QAbstractButton
{
    background-color: transparent;
    background-image: url(":/ui/volButton/volButton.png");
    background-repeat: none;
    border: none;
}

QAbstractButton:disabled
{
    background-image: url(":/ui/volButton/volButtonDisabled.png");
}

QAbstractButton:focus
{
    outline: none;
}

QAbstractButton#green:hover
{
    background-image: url(":/ui/volButton/volButtonHover.png"); 
}

QAbstractButton#red
{
    background-image: url(":/ui/volButton/volButtonPressed.png");
}
