QPushButton#green
{
    background-color: transparent;
    background-image: url(":/ui/volButton/volButton.png");
    background-repeat: none;
    border: none;
    width: 22px;
    height: 18px;
}

QPushButton#green:hover
{
    background-image: url(":/ui/volButton/volButtonHover.png"); 
}

QPushButton#red
{
    background-color: transparent;
    background-image: url(":/ui/volButton/volButtonPressed.png");
    background-repeat: none; 
    border: none;
    width: 22px;
    height: 18px;
}

QPushButton:focus {
    outline: none;
}
