QScrollArea {
    background: #414141;
}

QScrollBar:vertical  {
    background: transparent;
    width: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QScrollBar:handle:vertical  {
    background: rgba(18, 18, 18, 204);
    min-height: 20px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 1px;
}

QScrollBar:handle:vertical:hover  {
    background: rgba(35, 35, 35, 204);
}

QScrollBar:handle:vertical:pressed  {
    background: rgba(13, 13, 13, 204);
}

QScrollBar:add-line:vertical {height: 0px;subcontrol-position: bottom;subcontrol-origin: margin;}

QScrollBar:sub-line:vertical {height: 0px;subcontrol-position: top;subcontrol-origin: margin;}
 
QScrollBar:add-page:vertical, QScrollBar::sub-page:vertical  {
    background: none;
}
