QScrollArea {
    background: #414141!important;
}

QScrollBar:vertical  {
    background: #414141!important;
    width: 14px!important;
    margin-top: 2px!important;
    margin-bottom: 2px!important;
}

QScrollBar:handle:vertical  {
    background: #1c1c1c!important;
    min-height: 20px!important;
    border-radius: 3px!important;
    margin-left: 3px!important;
    margin-right: 1px!important;
}

QScrollBar:handle:vertical:hover  {
    background: #2d2d2d!important;
}

QScrollBar:handle:vertical:pressed  {
    background: #171717!important;
}

QScrollBar:add-line:vertical {height: 0px!important;subcontrol-position: bottom!important;subcontrol-origin: margin!important;}

QScrollBar:sub-line:vertical {height: 0px!important;subcontrol-position: top!important;subcontrol-origin: margin!important;}
 
QScrollBar:add-page:vertical, QScrollBar::sub-page:vertical  {
    background: none!important;
}
