name: Commit Format
on: pull_request
jobs:
  verify-commit-format:
    name: Verify Commit Format
    runs-on: ubuntu-18.04
    env:
      GITHUB_CONTEXT: ${{ github.event.pull_request.commits_url }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # so that we can see the full commit range
      - name: Run
        run: ./.ci-scripts/verify-commit-format.sh
